@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --grass-color: #9bcc50;
  --grass-hover: #88b347;
  --poison-color: #b97fc9;
  --poison-hover: #a06fad;
  --fire-color: #fd7d24;
  --fire-hover: #df6f1f;
  --flying-color: linear-gradient(to bottom, #3dc7ef 50%, #bdb9b8 50%);
  --flying-hover: linear-gradient(to bottom, #37b5d8 50%, #9c9998 50%);
  --water-color: #4592c4;
  --water-hover: #3c7da8;
  --bug-color: #729f3f;
  --bug-hover: #618635;
  --normal-color: #a4acaf;
  --normal-hover: #8f9597;
  --electric-color: #eed535;
  --electric-hover: #d1bc30;
  --ground-color: linear-gradient(to bottom, #f7de3f 50%, #ab9842 50%);
  --ground-hover: linear-gradient(to bottom, #dfc939 50%, #928239 50%);
  --fairy-color: #fdb9e9;
  --fairy-hover: #e0a5ce;
  --psychic-color: #f366b9;
  --psychic-hover: #db5ca6;
  --fighting-color: #d56723;
  --fighting-hover: #be5d20;
  --steel-color: #9eb7b8;
  --steel-hover: #889c9c;
  --ice-color: #51c4e7;
  --ice-hover: #49afce;
  --ghost-color: #7b62a3;
  --ghost-hover: #655186;
  --dragon-color: linear-gradient(to bottom, #53a4cf 50%, #f16e57 50%);
  --dragon-hover: linear-gradient(to bottom, #498fb4 50%, #d3614c 50%);
  --rock-color: #a38c21;
  --rock-hover: #86731b;
  --white-color: #fff;
  --neutral-100: #f5f5f5;
  --diagonal-pattern: repeating-linear-gradient(135deg,
      var(--white-color),
      var(--white-color) 40px,
      var(--neutral-100) 40px,
      var(--neutral-100) 80px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins';
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='80' height='80' fill='%23fff'/%3E%3Cpath d='M-20 100L100 -20 M-10 100L100 -10 M0 100L100 0 M10 100L100 10 M20 100L100 20 M30 100L100 30 M40 100L100 40 M50 100L100 50 M60 100L100 60 M70 100L100 70 M80 100L100 80' stroke='%23f5f5f5' stroke-width='10'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 80px 80px;
  max-width: 100vw;
  max-height: 100vh;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  margin: 3rem 0px 3rem 0px;
  padding: 10px;
  gap: 15px;
  border-radius: 8px;
}

.poke-card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  height: 300px;
  padding: 10px;
}

.poke-box img {
  width: 205px;
  border-radius: 5px;
  background-color: #f2f2f2;
  transition: 0.3s;
  cursor: pointer;
}

.poke-box img:hover {
  transform: scale(0.9);
}

.poke-info {
  margin-left: 15px;
}

.poke-id {
  color: #919191;
  font-weight: 600;
  font-size: 0.8rem;
}

.poke-name {
  font-size: 20px;
  font-weight: 600;
}

.pokemonType-list {
  display: flex;
  gap: 3px;
}

.pokemon-type {
  width: 73px;
  height: 18px;
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}


/* Type colors */

.grass {
  background-color: var(--grass-color);
}

.grass:hover {
  background-color: var(--grass-hover);
}

.poison {
  background-color: var(--poison-color);
}

.poison:hover {
  background-color: var(--poison-hover);
}

.fire {
  background-color: var(--fire-color);
}

.fire:hover {
  background-color: var(--fire-hover);
}

.flying {
  background: var(--flying-color);
}

.flying:hover {
  background: var(--flying-hover);
}

.water {
  background-color: var(--water-color);
}

.water:hover {
  background-color: var(--water-hover);
}

.bug {
  background-color: var(--bug-color);
}

.bug:hover {
  background-color: var(--bug-hover);
}

.normal {
  background-color: var(--normal-color);
}

.normal:hover {
  background-color: var(--normal-hover);
}

.electric {
  background-color: var(--electric-color);
}

.electric:hover {
  background-color: var(--electric-hover);
}

.ground {
  background: var(--ground-color);
}

.ground:hover {
  background: var(--ground-hover);
}


.fairy {
  background-color: var(--fairy-color);
}

.fairy:hover {
  background-color: var(--fairy-hover);
}

.psychic {
  background-color: var(--psychic-color);
}

.psychic:hover {
  background-color: var(--psychic-hover);
}

.fighting {
  background-color: var(--fighting-color);
}

.fighting:hover {
  background-color: var(--fighting-hover);
}

.steel {
  background-color: var(--steel-color);
}

.steel:hover {
  background-color: var(--steel-hover);
}

.ice {
  background-color: var(--ice-color);
}

.ice:hover {
  background-color: var(--ice-hover);
}

.ghost {
  background-color: var(--ghost-color);
}

.ghost:hover {
  background-color: var(--ghost-hover);
}

.dragon {
  background: var(--dragon-color);
}

.dragon:hover {
  background: var(--dragon-hover);
}

.rock {
  background-color: var(--rock-color);
}

.rock:hover {
  background-color: var(--rock-hover);
}

.fire,
.water,
.bug,
.dragon,
.ghost,
.psychic,
.poison,
.dark,
.fighting,
.rock {
  color: var(--white-color);
}